body {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 188, 78);
    display: flex;
    justify-content: center;
    height: 100svh;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

img {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}

#description {
    font-size: 1.5rem;
    max-width: 50svw;
}

#thing-button {
    background-color: rgb(253, 122, 122);
    color: white;
    border: none;
    border-radius: 1em;
    padding: 1.3rem;
    cursor: grab;
    font-weight: bolder;
    letter-spacing: 1px;
}

#thing-button:active {
    background-color: rgb(198, 130, 238);

}